nav.navbar-inverse.footer
	div.container
		ul.nav.navbar-nav
			li
				a(href='#' target='blank') 网站首页
			li
				a(href='#' target='blank') 人才招聘
			li
				a(href='#' target='blank') 联系我们
			li
				a(href='#' target='blank') 意见反馈
			li
				a(href='#' target='blank') 友情链接
	div.container
		ul.nav.navbar-nav
			li
				a(href='#' target='blank') Copyright © 2016 wjc.com All Rights Reserved
