body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.font-size1{
	font-size: 10px !important;
}
.content{
	min-height: 750px;
}
.search_panel{
	max-width: 100%;
	background: url(/images/search-banner.jpg) center 0 no-repeat #272e5d;
}
.search_form{
	margin : 80px;
}
.type_item{
    float: left;
    margin-top:20px; 
    padding: 0px 44px 0px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}
#category_container{
    margin-top: 30px;
}
.list-group-item_1 {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
}